@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: hidden;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none !important;
  }

  .no-scrollbar {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
  }
}

.react-datetime-picker__wrapper {
  border-radius: 10px;
}

.react-calendar {
  border-radius: 10px;
}
